body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

/* Particle-js Background */
#particle-bg {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: relative;
}

/* Particle-js END */

#maintenance {
    margin-top: 5px;
    text-align: center;
}

/* Body Content */
/* Top => Bottom */
.card {
    box-shadow: 0px 1px 12px #777;
}

#profile {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

#profile.card {
    height: 480px;
    width: 60%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#profile-pic {
    width: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#fullname {
    font-family: 'Kanit', sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
}

#subtitle {
    font-family: 'Kanit', sans-serif;
    margin-top: 0;
    margin-bottom: 6px;
}

.biography {
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 10px;
}

.interest {
    color: grey;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

#media-contact {
    display: inline-flex;
    margin: auto
}

#github,
#stackoverflow,
#keybase,
#twitter,
#fb-messenger {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1.9em;
}

.fa-github {
    color: black;
}

.fa-stack-overflow {
    color: orange;
}

.fa-keybase {
    color: #DE6D21;
}

h5.font-weight-normal {
    text-align: center;
}

.project-section {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.project-section .card-title {
    font-family: 'Kanit', sans-serif;
}

.skill-section {
    margin: 15px;
}

.extra-section {
    width: 100%;
    margin: 10px;
    padding: 0;
}

.row-section {
    font-family: 'Kanit', sans-serif;
}

#desktop-messenger {
    width: 35px;
}

.shouldI {
    text-align: center;
    margin-bottom: 25px;
}

#thinking {
    width: 1.3em;
}

/* Superscript for in-development projects*/
/*
.development {
    font-size: 12px;
    color: #990001;
}
*/

.progress {
    border-radius: 0;
}

.project-redirect {
    float: right;
}

.languages-used {
    color: rgb(172, 172, 172);
    margin-top: 5px;
    float: left;
}

.language-type {
    margin: 10px;
}

.wakatime-charts figure {
    box-shadow: 0px 1px 12px #555;
    margin: 10px 0.5em;
}

.wakatime-link {
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wakatime-graph {
    display: inline-grid;
}

#copyright {
    display: block;
    justify-content: center;
    font-size: 15px;
    margin: 10px auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.copyright-link {
    text-decoration: underline;
    color: black;
}


/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 230px) and (max-width: 319px) {
    #profile.card {
        height: 560px;
        width: 100%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
    #profile.card {
        height: 530px;
        width: 100%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 425px) and (max-width: 449px) {
    #profile.card {
        height: 535px;
        width: 100%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Portrait/Wide Devices */
@media only screen and (min-width: 450px) and (max-width: 620px) {
    #profile.card {
        height: 490px;
        width: 100%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Portrait/Wider Devices */
@media only screen and (min-width: 621px) and (max-width: 765px) {
    #profile.card {
        height: 495px;
        width: 100%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #profile.card {
        height: 470px;
        width: 95%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    #profile.card {
        height: 465px;
        width: 85%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
