body {
    margin: 0;
    padding: 0;
}

/* Particle-js Background */
#particle-bg {
    background-color: #696969;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: relative;
}

/* Particle-js END */

/* Body */
#profile {
    text-align: center;
    margin-top: 20px;
}

#profile.card {
    height: 335px;
}

#profile-pic {
    width: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#media-contact {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

#github,
#stackoverflow,
#keybase,
#twitter {
    margin-left: 5px;
    margin-right: 5px;
}

#skills {
    margin: 50px;
}

.project-section {
    margin: 7px;
}

#charts {
    display: inline-block;
}