body {
    margin: 0;
    padding: 0;
}

/* Particle-js Background */
#particle-bg {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: relative;
}

/* Particle-js END */

/* Body Content */

#profile {
    text-align: center;
    margin-top: 30px;
}

#profile.card {
    height: 480px;
    width: 60%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#profile-pic {
    width: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#fullname {
    margin-top: 10px;
}

#subtitle {
    margin-top: 2px;
    margin-bottom: 2px;
}

.biography {
    margin-left: 18px;
    margin-right: 18px;
}

.interest {
    color: grey;
    margin: 0;
}

#media-contact {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#github,
#stackoverflow,
#keybase,
#twitter {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1.9em;
}

.fa-github {
    color: black;
}

.fa-stack-overflow {
    color: orange;
}

.fa-keybase {
    color: #DE6D21;
}

#skills {
    margin-top: 50px;
    margin-bottom: 50px;
}

h5.font-weight-normal {
    text-align: center;
}

.project-section {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.languages-section,
.frameworks-section {
    margin: 15px;
}

.shouldI {
    text-align: center;
    margin-bottom: 25px;
}

#thinking {
    width: 1.3em;
}

/* Superscript */
.development {
    font-size: 12px;
    color: #990001;
}

/* END Superscipt */

.project-redirect {
    float: right;
}

.languages-used {
    color: rgb(172, 172, 172);
    margin-top: 5px;
    float: left;
}

.language-type {
    margin: 10px;
}

.wakatime-link {
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wakatime-graph {
    display: inline-grid;
}


/* Media Queries */
/* Extra small devices (portrait phones, less than NaN:px) */
@media only screen and (max-width: 658px) {

    #profile.card {
        height: 500px;
        width: 100%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Small devices (landscape phones, NaN:px and up) */
@media only screen and (min-width: 659px) and (max-width: 767.98px) {

    #profile.card {
        height: 510px;
        width: 80%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .interest {
        margin-left: 3px;
        margin-right: 3px;
    }
}

/* Medium devices (tablets, NaN:px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    #profile.card {
        height: 510px;
        width: 70%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */